<link rel="stylesheet" href="{{ asset('assets/nav.css')}}">
<nav class="nav_main_ctn">
	<div class="nav_h">
		<h1>
			<a href="{{ path('main')}}"><img class="logo_nav" src="{{ asset('images/logo.png') }}" alt=""/>Art'Blog</a>
		</h1>
	</div>

	<div class="nav_options">
		{% if app.user %}
			<a class="a_frt" href="{{ path('users_profile', { id: app.user.id } ) }}">Profile</a>
			<a href="{{ path('app_logout') }}">Deconnexion</a>
		{% else %}
			<a href="{{ path('register') }}">S'inscrire</a>
			<a href="{{ path('app_login') }}">Se connecter</a>
		{% endif %}
	</div>

</nav>
