{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<script src="{{ asset('assets/js/main.js') }}" defer></script>
	{% if app.user %}
		<H3>bienvenue
			{{ app.user.username }}</h3>
	{% endif %}
	<div class="container_idx_main">
		<div class="nav_main_post_publi">
			<ul>
				<li class="nav_maiin_post_li">
					<a href>Publictions</a>
				</li>
				<li class="nav_maiin_post_li">
					<a href>Posts</a>
				</li>
			</ul>
		</div>
		<div class="idx_wdt">
			{% for publication in publications %}
				<div class="publication_contenue_card">
					<a class="publication_contenue" href="{{ path('viewpublication', { id: publication.id }) }}">
						<div class="div_js_idx" onmouseover="openText(this)" onmouseleave="hideText(this)">
							<img class="idx_img mb-3 me-2" src="/uploads/photos/{{ publication.getImgCouverture }}">
							<div class="idx_info_pbl_hide">
								<a href="{{ path('users_profile', { id: publication.getUser.id }) }}">
									<h2>{{publication.getUser.username}}</h2>
								</a>
								<p>{{publication.contenue}}</p>
								{% for pub in publication.categories %}
									<a href="{{ path('categoryadd', { name: pub.name }) }}" class="p_card_idx">#{{ pub.name}}</a>
								{% endfor %}
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
